{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'Analysis/style.css' %}" > </link>

<!DOCTYPE html> 
<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8"> 

</head>
<body>
<div class="container" >
<div class="spanH1">
            <div class="span4">
                <div class="span4"></div>
                <div class="span4">
                    <br />
                    <span class="logo">Social Network</span>
                </div>
            </div>
            <div class="span6">
                <div class="spanH1_3"></div>
                <div class="spanH1_3">
                    <div class="span2">
                        <a href="index.html" class="white_a" >
                        <span class="currentSpan">首页</span>
                        </a>
                    </div>
                    <div class="span2">
                        <a href="analysis.html" class="white_a">
                        <span class="span">网络统计</span>
                        </a>
                    </div>
                    <div class="span2">
                        <a href="recommend.html" class="white_a">
                        <span class="span">推荐系统</span>
                        </a> 
                    </div>                   
                    <div class="span2">
                        <a href="diffusion.html" class="white_a">
                        <span class="span">信息扩散</span>
                        </a>                        
                    </div>
                    <div class="span2"></div>
                </div>
                <div class="spanH1_3"></div>
            </div>
        </div>
        <hr />
        <div class="spanH9">
            <div class="spanH4"></div>
            <div class="spanH2">
                <div class="span_15"></div>
                <div class="span_14Filter" >
                    <a href="analysis.html" class="a" >
                       <br />
                        <span class="spanfontH1" >
                            &nbsp &nbsp
                            网络统计
                        </span>
                        <br /><br /><br /><br />
                        <p>
                            计算网络的静态特征——度分布、平均距离、聚类系数、介数等。
                        </p>
                    </a>
                </div>
                <div class="span_14"></div>
                <div class="span_14Filter">
                    <a href="analysis.html" class="a">
                        <br />
                        <span class="spanfontH1">
                        &nbsp &nbsp
                            推荐系统
                        </span>
                        <br /><br /><br /><br />
                        <p>
                             基于年龄、职业、教育程度的人脉推荐、商品推荐等。
                        </p>
                    </a>
                </div>
                <div class="span_14"></div>
                <div class="span_14Filter">
                    <a href="analysis.html" class="a">
                        <br />
                        <span class="spanfontH1">
                        &nbsp &nbsp
                            信息扩散
                        </span>
                        <br /><br /><br /><br />
                        <p>
                          将网络的传播途径可视化，达到路径的预测功能，判断热点话题。
                        </p>
                    </a>
                </div>
                <div class="span_15"></div>
            </div>
            <div class="spanH4"></div>
</div>
</div>
</body>
</html>
